@import "tailwindcss";

/* In index.css or a global file */
.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #db7e21;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.7s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  